* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(179, 177, 175)
}

@import "../scss/UI/nav.scss";
@import "../scss/form.scss";
@import "../scss/UI/footer.scss";
@import "../scss/structure/grid.scss";